body{
    font-family: Arial, Helvetica, sans-serif;
}
.color{
    background-color:slategrey;
    margin: 0;
}
header{
    padding: 5px;
}

nav{
    background-color:snow;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
nav a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 8px 16px;
    background-color:azure;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
 }

.itemText{
    padding: 5px;
    margin: 5px;
    width: 30%;
}

.fixImage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-between; */
    gap: 25px;
    padding: 20px;
}

.imageSet{
   border: black solid thin;
   
}


figure{
    padding: 0px;
    margin: 0px;
}

figure figcaption{
    font-size: medium;
}

footer{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display: grid;
}

footer a{
    display: block;
}
figure h4{
    margin: 5px;
}

