body {
    margin: 0px;
    font-family: Arial, sans-serif;
}
header {
    display: none;
    background: #f8f9fa;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}
nav {
    display: none;
    display: flex;
    justify-content: space-evenly;
    background: #007bff;
    padding: 10px 0;
}
nav a { 
    display: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
}
main {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.rightSide{
    width: 75%;
    display: flex;
    justify-content: space-around;
}
aside {
    /* width: 20%;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    justify-content: space-around; */
}
figure {
    margin: 0;
}
figure img{
    width: 100%;
}
figcaption {
    text-align: center;
}
ul {
    margin: 0;
    padding: 5px;
    list-style: none;
}
li{
    margin: 5px;
}
article {
    flex: 1 1 30%;
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
article img{
    width: 100%;
    height: 50%;
    height: auto;
}


footer {
    display: none;
    background: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

.leftSide{
    width: 20%;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    justify-content: space-around;
}