body{
    font-family: Arial, Helvetica, sans-serif;
}

.item{
    background-color: cadetblue;
    padding: 10px 5px;
    width: 200px;

}

.container{
    /* background-color: blueviolet; */
    display: flex;
    /* flex-direction: row;
    flex-wrap:wrap; */
    /* This is the same thing as the two previous row */
    flex-flow: row wrap;
    gap: 5px;
    /* space-around, it gives space around in like padding;
    space-between only gives space in the center or in between */
    justify-content: space-around;
    
}